<!-- <div class="w-embed w-script">
  <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/0f9080ebe705d62b70f41d9b8/155c1b26293cfac10432375fa.js");</script>
</div> -->

<div data-collapse="medium" data-animation="over-right" data-duration="400" data-doc-height="1" data-no-scroll="1" role="banner" class="navigation w-nav">
  <div class="navigation-container">
    <a href="/" class="logo w-nav-brand">
      <img src="/images/curie-01.svg" width="147" alt="">
    </a>
    <div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="https://docs.curiefense.io/" target="_blank" class="nav-link w-nav-link">Docs</a>
        <a href="/features" class="nav-link w-nav-link">Features</a>
        <a href="/about-us" class="nav-link w-nav-link">About</a>
        <a href="/blog" class="nav-link w-nav-link">Blog</a>
        <a href="/try-curiefense" class="nav-link w-nav-link">Try</a>
        <a href="https://github.com/curiefense/curiefense.github.io/" target="_blank" class="nav-link nav-button w-nav-link">
          <img src="/images/github-header.svg" loading="lazy" width="15" alt="" style="vertical-align: text-top;"> 
          GitHub
        </a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="menu-icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>