---
layout: default
---

<div class="hero-nohome blog-post">
  <div class="container w-container"></div>
</div>
<div class="section blog-post">
  <div class="container w-container">
    <div class="blog-post-wrapper">
      <div class="blog-post-header">
        <h3 class="heading-2">Blog</h3>
        <h1 class="hero-title nohome">{{page.title}}</h1>
        {% if page.author != "" %}
          <div class="card-author">
            {% assign author = site.data.team-members | find: "name", page.author %}
            <img src='{{author.imageSrc}}' />
            <div class="author-date">
              {{page.author}}
              <br/>
              {{page.createdOn | date_to_string: "ordinal", "US"}}
            </div>
            {% endif %}
            <div class="read-time">
              &bullet; &nbsp;{{content | reading_time_as_i}}
            </div>
        <div class="share-right">{% include share-buttons.html %}</div>
      </div>
      {% if page.mainImage != "" %}
        <div class="blog-post-main-image">
          <img loading="lazy" src="{{page.mainImage}}" alt="">
        </div>
      {% endif %}
      <div class="rich-text-block w-richtext">
        {{content}}
      </div>
      <div class="share-bottom">{% include share-buttons.html %}</div>
    </div>
  </div>
</div>
